apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-worker-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics-worker
  template:
    metadata:
      labels:
        app: analytics-worker
    spec:
      containers:
      - name: analytics-worker
        image: analytics-worker:v1
        imagePullPolicy: IfNotPresent
        livenessProbe:
          exec:
            command:
            - pgrep
            - dotnet
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
            - pgrep
            - dotnet
          initialDelaySeconds: 5
          periodSeconds: 5
        env:
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "kafka:9092"
        - name: MONGODB_CONNECTION_STRING
          value: "mongodb://mongodb:27017"
