apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-worker-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-worker
  template:
    metadata:
      labels:
        app: order-worker
    spec:
      containers:
      - name: order-worker
        image: order-worker:v1
        imagePullPolicy: IfNotPresent
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: Production
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "kafka:9092"
        - name: ConnectionStrings__DefaultConnection
          value: "Host=postgres-service;Port=5432;Database=bookdb;Username=postgres;Password=postgrespw"
